@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap");

.nav > li {
    font-weight: bold;
    display: inline-block;
    padding: 5px 25px 0 25px;
    font-size: 18px;
    font-family: "Poiret One", cursive;
    text-align: center;
    list-style: none;
    top: 0;
  }


.nav > li > a {
    text-decoration: none;
    color: black;
  }

  .nav > li > a:hover,  .nav > li > a .active{
    color: #a5a4a4;
    transition: all 0.3s;
  }

  .logo > a {
    text-decoration: none;
    color: #393e46;
  }

  .inner-container h1 {
    font-size: 72px;
    letter-spacing: 0.2em;
    
  }
  
  .inner-container h1 span {
    border: 10px solid white;
    padding: 6px 14px;
    display: inline-block;
  }
  
  .inner-container h3{
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

.caixa > p,
.caixa > ul {
  margin: auto 10% auto 10%;
  text-align: justify;
}

.caixa > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

  
footer > p {
    background-color: #393e46;
    width: 100%;
    height: 30px;
    color: white;
    text-align: center;
    position: absolute;
    float: left;
    margin-bottom: 0;
  }

  /*Redes*/
  .redes1 > a {
    text-decoration: none;
    color: white;
  }

.redes1 > a > h1 {
  margin-bottom: 10px;
  background-color: #a7d7c5;
  font-size: 30px;
  font-family: "Poiret One", cursive;
}


.redes2 > a {
    text-decoration: none;
    color: white;
  }

.redes2 > a > h1 {
  margin-bottom: 10px;
  background-color: #74b49b;
  font-size: 30px;
  font-family: "Poiret One", cursive;
}


  
.redes3 > a {
    text-decoration: none;
    color: white;
  }

.redes3 > a > h1 {
  margin-bottom: 10px;
  background-color: #5c8d89;
  font-size: 30px;
  font-family: "Poiret One", cursive;
}


.cx-contato p{
    text-align: center;
  }
  
  
.caixa .caixaCurriculo h4 span, .caixa .caixaPort h4 span{
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 0 0 10px 0;
  }
  
  .caixaCurriculo p, .caixaPort p{
    
  
    margin-left: auto;
    margin-right: auto;
    align-items: center;
  }

.caixaCurriculo ul li{
  padding: 5px 0 7px 5px;
}
  
  

  .inner-container2 h3{
    animation: typing 5s;
  }
  
  .caixaInt h1{
    background-color: #f76b8a;
    height: 50px;
    font-family: "Poiret One", cursive;
    text-align: center;
    padding: 0 0 0 0;
    font-size: 20px;
    margin-bottom: 10px;
    color: #fcfefe;
  }

  .caixaForm p{
    margin-top: 2px;
  }
  
  .caixaForm h1{
    font-size: 15px;
    font-weight: bold;
  
  }
  
  .caixaForm h2{
    font-size: 13px;
    font-weight: 600;
  }
  
  .caixaForm h3{
    font-size: 13px;
    font-weight: 500;
  }
  
  .caixaForm h4{
    font-size: 13px;
    font-weight: 500;
  }
  

  .inner-container2 h1 {
    font-size: 72px;
    letter-spacing: 0.2em;
    
    
  }
  
  .inner-container2 h1 span {
    border: 10px solid white;
    padding: 6px 14px;
    display: inline-block;
    
  }

  .inner-container2 h3{
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }