h1 {color:black; font-size: 60px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
h3 {color:rgb(39, 39, 39); font-size: 35px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
h4 {color:black; font-size: 25px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
h5 {color:rgb(39, 39, 39); font-size: 15px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}

