@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap");

.img-container2 {
    height: 350px;
    overflow: hidden;
    width: 100%;
    background-image: linear-gradient(to right, rgb(0, 249, 133),  rgb(183, 212, 54));
    background-size: cover;
  }
  
  
  .inner-container2 {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    text-align: center;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
  }
  

  
  