.img-container2 {
    height: 350px;
    overflow: hidden;
    width: 100%;
    background-image: linear-gradient(to right, rgb(0, 249, 133),  rgb(17, 189, 83));
    background-size: cover;
  }
  
  
  .inner-container2 {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    text-align: center;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
  }
  
  .inner-container2 h1 {
    font-size: 72px;
    letter-spacing: 0.2em;
    
    
  }
  
  .inner-container2 h1 span {
    border: 10px solid white;
    padding: 6px 14px;
    display: inline-block;
    
  }

  .inner-container2 h3{
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  