@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap");
body {
    margin: 0;
    padding: 0;
    background-color:rgb(248, 248, 248);    
    font-family: 'Raleway', sans-serif;
    flex-grow: 1;

}
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
.nav{
    background-color: #ffffff;
    color: #000000;
    list-style: none;
    text-align: right;
    padding: 20px 0 20px 0;
    margin: 0 auto;
    width: 100%;
    height: 30px;
    position: fixed;
    flex-grow: 1;
    

}


.nav > li{
    font-weight: bold;
    display: inline-block;
    padding: 5px 25px 0 25px;
    font-size: 18px;    
    font-family: 'Poiret One', cursive;
    text-align: center;
    list-style: none;
   

}



.nav > li > a{
    text-decoration: none;
    color: black;
}

.nav > li > a:hover{
    color: #a5a4a4;
    transition: all 0.3s;
}


.logo {
    font-family: 'Rajdhani', sans-serif;
    float: left;
    color: #000000;
    padding-left: 25px;
    font-size: 1.75em;
    font-weight: bold;
    padding: 0px 55px;
}

.logo > a{
    text-decoration: none;
    color: #000000;
}

.img-container{
    height: 650px;
    overflow: hidden;
    background: url(../imagens/mainbanner.jpg) no-repeat center;
    background-size: cover;

}

.inner-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    text-align: center;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
}

.inner-container h1{
    font-size: 72px;
    letter-spacing: 0.2em;
}

.inner-container h1 span{
    border: 10px solid white;
    padding: 6px 14px;
    display: inline-block;
}
/*Botão*/
.btn{
    color: white;
    padding: 10px 24px;
    font-size: 20px;
    text-decoration: none;
    background: rgb(211, 5, 166);
    transition:  0.3s all;
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
    
}
/*Texto Formatado*/
.conteudo{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    transition: all 0.4s;
    
}

.caixa{
    width: 60%;
    margin: auto;
    background: rgb(248, 248, 248);
    height: 100vh;
}
.caixa > p,
.caixa > ul {
    margin: auto 10% auto 10%;
    text-align: justify;
}

.caixa > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.caixa-title {
    text-align: center;
}

@media only screen and (max-width: 1000px) {
    .caixa {
        width: 100%;
        margin: auto;        
    }

    .caixa > ul {
        flex-direction: column;
        align-content: center;
    }
}

/*Perfil*/

.profile-pic {
    border-radius: 50%;
    width: 300px;
    height: auto;
    margin: auto 5% auto auto;
}

footer{
    background-color: #000000;
    width: 100%;
    height: 30px;
    color: white;
    text-align: center;
}


